@import "tailwindcss";

@theme {
  --color-color-main: hsl(var(--color-main));
  --color-color-main-dark: hsl(var(--color-main-dark));
  --color-color-bg: rgb(var(--color-bg));
  --color-color-font: rgb(var(--color-font));
  --color-color-tag: rgb(var(--color-tag));
  --color-color-font-40: rgb(var(--color-font) / 0.4);
  --color-color-font-50: rgb(var(--color-font) / 0.5);

  --leading-180: 1.8;

  --background-image-img-color-tag: linear-gradient(
    90deg,
    rgb(var(--color-tag)) 0%,
    rgb(var(--color-tag)) 100%
  );

  --animate-pulse-light: pulse-light 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes pulse-light {
    0%,
    100% {
      opacity: 0.1;
    }
    50% {
      opacity: 0.15;
    }
  }
}

@layer base {
  :root {
    --color-main: 156deg 100% 39%;
    --color-main-dark: 156deg 100% 0%;
    --color-bg: 255 255 255;
    --color-font: 50 50 50;
  }

  :root[data-theme="dark"] {
    --color-main: 156deg 100% 0%;
    --color-main-dark: 156deg 100% 100%;
    --color-bg: 28 28 28;
    --color-font: 255 255 255;
  }
}
