@reference "../../tailwind.theme.css";

@layer utilities {
  .language {
    @apply relative overflow-hidden rounded-sm font-semibold px-2 pt-1 pb-[5px];
    @apply bg-color-font/5;
    &::after {
      content: '';
      @apply absolute left-0 bottom-0 h-[3px] rounded-full;
      @apply bg-img-color-tag bg-no-repeat;
      transition: width 600ms ease-out;
      width: var(--width);
    }
    &.loading {
      &::before {
        content: '1';
        @apply text-transparent;
      }
      @apply text-transparent;
    }
  }
}
