@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  html, body {
    @apply w-full h-full scroll-smooth;
  }

  h1 {
    @apply text-[1.8rem] font-bold;
  }
  h2 {
    @apply text-[1.6rem] font-bold;
  }
  h3 {
    @apply text-[1.4rem] font-bold;
  }
  h4 {
    @apply text-[1.2rem] font-bold;
  }
  h5 {
    @apply text-base font-bold;
  }
  h6 {
    @apply text-base font-bold;
  }

  body {
    background-color: rgb(var(--color-bg));
    color: rgb(var(--color-font));
    fill: rgb(var(--color-font));
    word-break: break-word;
    @apply break-words antialiased hyphens-auto;
  }

  .image {
    @apply opacity-0 transition-opacity;
    &.loaded {
      @apply opacity-100;
    }
  }

  p, span, ul {
    a {
      @apply underline px-1 decoration-color-font-80 decoration-dashed underline-offset-2 text-color-font text-opacity-95;
    }
  }
}

@layer components {
  .loading {
    h1, h2, h3, h4, h5, h6, time, span, p {
      @apply animate-pulse-light;
      @apply relative text-transparent w-fit #{!important};
      &::after {
        @apply absolute content-[''] left-0 w-full;
        @apply bg-color-font rounded-md;
      }
    }
    
    h1, h2, h3, h4, h5, h6, time, span, p {
      &::after {
        @apply top-1/20 h-9/10;
      }
    }
    p {
      &::after {
        @apply h-full top-0;
      }
    }
  }
}

@layer utilities {
  .content {
    h1 {
      @apply mb-6 mt-10;
    }
    h2 {
      @apply mb-5 mt-8;
    }
    h3 {
      @apply mb-4 mt-6;
    }
    h4 {
      @apply mb-3 mt-4;
    }
    h5 {
      @apply mb-3 mt-4;
    }
    h6 {
      @apply mb-3 mt-4;
    }

    .ui-code, blockquote, hr, img, & > ul, & > ol {
      @apply my-4;
    }

    & > *:first-child {
      @apply mt-0;
    }

    /* content */
    & > p, & > ul, & > ol {
      @apply leading-relaxed text-color-font text-opacity-90;
    }

    /* text */
    & > p {
      @apply mt-6;
    }

    /* checklist */
    input[type="checkbox"] {
      @apply mr-2;
    }

    /* list */
    ol {
      counter-reset: item;
    }
  
    ol li::before {
      content: counters(item, ".") ".";
      counter-increment: item;
      @apply mr-2;
    }
  
    ul:not(.checklist) li::before {
      content: "•";
      @apply mr-2;
    }

    ol, ul {
      li::before {
        @apply mr-2;
      }
      li {
        @apply ml-4 my-1;
      }
    }

    & > ol, & > ul {
      & > li {
        @apply ml-2;
      }
    }

    p + ul, p + ol {
      @apply mt-2;
    }
  
    /* blockquote */
    & > blockquote {
      @apply w-full bg-color-font bg-opacity-20 py-2 px-3 rounded-md;
      & > span {
        @apply text-color-font;
      }
      & > span:last-child {
        @apply block text-right text-sm italic text-opacity-80;
        &::before {
          content: "— ";
        }
      }
    }
  
    /* code */
    .ui-code .shiki{
      @apply overflow-x-auto p-4 rounded-md;
    }

    /* inline code */
    *:not(pre.shiki) > code {
      @apply bg-opacity-20 bg-color-font rounded-[3px] px-2 mx-1 py-[1px];
    }

    /* link */
    a {
      @apply text-color-main-dark;
    }

    /* image */
    & > .img {
      @apply mx-auto w-max;
      img {
        @apply rounded-md;
      }
      span {
        @apply text-center text-sm text-color-font text-opacity-60 w-max mx-auto block;
      }
    }
  }

  *[data-tag] {
    --color-tag: var(--color-font);
  }
  *[data-tag="react"] {
    --color-tag: 97 218 251;
  }
  *[data-tag="typescript"] {
    --color-tag: 0 122 204;
  }
  *[data-tag="vue"] {
    --color-tag: 65 184 131;
  }
  *[data-tag="html"] {
    --color-tag: 227 76 38;
  }
  *[data-tag="css"] {
    --color-tag: 21 114 182;
  }
  *[data-tag="sass"],
  *[data-tag="scss"] {
    --color-tag: 199 93 203;
  }
  *[data-tag="tailwind"] {
    --color-tag: 78 202 206;
  }
  *[data-tag="svelte"] {
    --color-tag: 255 165 0;
  }
  *[data-tag="javascript"] {
    --color-tag: 247 223 30;
  }
  *[data-tag="git"] {
    --color-tag: 239 101 81;
  }
  *[data-tag="next.js"] {
    --color-tag: 0 0 0;
  }
  *[data-tag="node.js"] {
    --color-tag: 2 110 0;
  }
  *[data-tag="npm"] {
    --color-tag: 203 0 0;
  }
  *[data-tag="python"] {
    --color-tag: 0 114 187;
  }
  *[data-tag="json"] {
    --color-tag: 21 114 182;
  }
}