@tailwind base;

@layer base {
  * {
    @apply box-border;
  }

  html,
  body {
    @apply h-full w-full scroll-smooth text-base lg:text-lg;
  }

  h1 {
    @apply text-[1.8rem] font-bold;
  }
  h2 {
    @apply text-[1.6rem] font-bold;
  }
  h3 {
    @apply text-[1.4rem] font-bold;
  }
  h4 {
    @apply text-[1.2rem] font-bold;
  }
  h5,
  h6 {
    @apply text-base font-bold;
  }

  body {
    background-color: rgb(var(--color-bg));
    color: rgb(var(--color-font));
    fill: rgb(var(--color-font));
    word-break: break-word;
    @apply hyphens-auto break-words antialiased;
  }

  .image {
    @apply opacity-0 transition-opacity;
    &.loaded {
      @apply opacity-100;
    }
  }

  p,
  span,
  ul {
    a {
      @apply px-1 text-color-font text-opacity-95 underline decoration-color-font-40 decoration-dashed underline-offset-[3px];
    }
  }
}
