@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  html, body {
    @apply w-full h-full scroll-smooth;
  }

  body {
    background-color: rgb(var(--color-bg));
    color: rgb(var(--color-font));
    fill: rgb(var(--color-font));
    word-break: break-word;
    @apply break-words antialiased hyphens-auto;
  }

  .image {
    @apply opacity-0 transition-opacity;
    &.loaded {
      @apply opacity-100;
    }
  }

  p,span, ul {
    a[type="link"] {
      @apply underline px-1 decoration-color-font-80 decoration-dashed underline-offset-2 text-color-font text-opacity-95;
    }
    /** 
    a[target='_blank']::after {
      content: "";
      @apply underline inline-block w-4 h-4 -ml-[2px] bg-center bg-color-main-dark bg-no-repeat bg-contain;
      mask: url(/assets/icon/external-link.svg);
    }
    */
  }
}

@layer components {
  .loading {
    h1, h2, h3, h4, h5, h6, time {
      @apply w-fit animate-pulse-light;
      @apply bg-gradient-to-t from-current to-current bg-[length:100%_80%] bg-no-repeat bg-center;
    }
  }
}

@layer utilities {
  *[data-tag] {
    --color-tag: var(--color-font);
  }
  *[data-tag="react"] {
    --color-tag: 97 218 251;
  }
  *[data-tag="typescript"] {
    --color-tag: 0 122 204;
  }
  *[data-tag="vue"] {
    --color-tag: 65 184 131;
  }
  *[data-tag="html"] {
    --color-tag: 227 76 38;
  }
  *[data-tag="css"] {
    --color-tag: 21 114 182;
  }
  *[data-tag="javascript"] {
    --color-tag: 247 223 30;
  }
  *[data-tag="git"] {
    --color-tag: 239 101 81;
  }
  *[data-tag="next.js"] {
    --color-tag: 0 0 0;
  }
  *[data-tag="node.js"] {
    --color-tag: 2 110 0;
  }

}