@reference "../../../tailwind.theme.css";

@layer utilities {
  .post {
    blockquote,
    hr,
    img,
    & > ul,
    & > ol {
      @apply my-4;
    }

    & > *:first-child {
      @apply mt-0;
    }

    /* content */
    & > p,
    & > ul,
    & > ol {
      @apply leading-180 text-color-font/90;
    }

    /* text */
    & > p {
      @apply mt-6;
    }

    /* checklist */
    input[type='checkbox'] {
      @apply mr-2;
    }

    /* list */
    ol {
      counter-reset: item;
    }

    ol li::before {
      content: counters(item, '.') '.';
      counter-increment: item;
      @apply mr-2;
    }

    ol,
    ul {
      li::before {
        @apply mr-2;
      }
      li {
        @apply my-1 ml-4;
      }
    }

    & > ol,
    & > ul {
      & > li {
        @apply ml-2;
      }
    }

    p + ul,
    p + ol {
      @apply mt-2;
    }

    /* blockquote */
    & > blockquote {
      @apply w-full rounded-md bg-color-font/20 px-3 py-2;
      & > span {
        @apply text-color-font;
      }
      & > span:last-child {
        @apply block text-right text-sm italic text-color-font/80;
        &::before {
          content: '— ';
        }
      }
    }
  }
}
