@tailwind utilities;

@layer utilities {
  .post {
    /* h1 {
      @apply mb-6 mt-10;
      @apply text-[1.8rem] font-bold;
    } */
    h2 {
      @apply mb-5 mt-8;
      @apply text-[1.6rem] font-bold;
    }
    h3 {
      @apply mb-4 mt-6;
      @apply text-[1.4rem] font-bold;
    }
    h4 {
      @apply mb-3 mt-4;
      @apply text-[1.2rem] font-bold;
    }
    h5,
    h6 {
      @apply mb-3 mt-4;
      @apply text-base font-bold;
    }

    blockquote,
    hr,
    img,
    & > ul,
    & > ol {
      @apply my-4;
    }

    & > *:first-child {
      @apply mt-0;
    }

    /* content */
    & > p,
    & > ul,
    & > ol {
      @apply leading-180 text-color-font text-opacity-90;
    }

    /* text */
    & > p {
      @apply mt-6;
    }

    /* checklist */
    input[type='checkbox'] {
      @apply mr-2;
    }

    /* list */
    ol {
      counter-reset: item;
    }

    ol li::before {
      content: counters(item, '.') '.';
      counter-increment: item;
      @apply mr-2;
    }

    ul:not(.checklist) li::before {
      content: '•';
      @apply mr-2;
    }

    ol,
    ul {
      li::before {
        @apply mr-2;
      }
      li {
        @apply my-1 ml-4;
      }
    }

    & > ol,
    & > ul {
      & > li {
        @apply ml-2;
      }
    }

    p + ul,
    p + ol {
      @apply mt-2;
    }

    /* blockquote */
    & > blockquote {
      @apply w-full rounded-md bg-color-font bg-opacity-20 px-3 py-2;
      & > span {
        @apply text-color-font;
      }
      & > span:last-child {
        @apply block text-right text-sm italic text-opacity-80;
        &::before {
          content: '— ';
        }
      }
    }

    /* link */
    a {
      @apply text-color-main-dark;
    }

    /* image */
    & > .img {
      @apply mx-auto w-max;
      img {
        @apply rounded-md;
      }
      span {
        @apply mx-auto block w-max text-center text-sm text-color-font text-opacity-60;
      }
    }
  }
}
