---
const word = "Nasa";
---

<div class="rounded-md border border-color-border bg-color-surface p-4">
	<code>{`style: undefined`}</code>
	<div class="text-2xl">{word}</div>
	<code>{`style: { font-variant: small-caps; }`}</code>
	<div class="text-2xl" style="font-variant: small-caps;">{word}</div>
	<code
		>{`style: { text-transform: lowercase; font-variant: small-caps; }`}</code
	>
	<div
		class="text-2xl"
		style="text-transform: lowercase; font-variant: small-caps;"
	>
		{word}
	</div>
</div>
