@tailwind components;

@layer components {
  /* header */
  h1 {
    @apply text-[1.8rem] font-bold mb-6 mt-10;
  }
  h2 {
    @apply text-[1.6rem] font-bold mb-5 mt-8;
  }
  h3 {
    @apply text-[1.4rem] font-bold mb-4 mt-6;
  }
  h4 {
    @apply text-[1.2rem] font-bold mb-3 mt-4;
  }
  h5 {
    @apply text-base font-bold mb-3 mt-4;
  }
  h6 {
    @apply text-base font-bold mb-3 mt-4;
  }

  .content {
    .ui-code, blockquote, hr, img, & > ul, & > ol {
      @apply my-4;
    }

    & > *:first-child {
      @apply mt-0;
    }

    /* content */
    & > p, & > ul, & > ol {
      @apply leading-relaxed break-words text-justify text-color-font text-opacity-90;
    }

    /* text */
    & > p {
      @apply mt-6 break-words;
    }

    /* checklist */
    input[type="checkbox"] {
      @apply mr-2;
    }

    /* list */
    ol {
      counter-reset: item;
    }
  
    ol li::before {
      content: counters(item, ".") ".";
      counter-increment: item;
      @apply mr-2;
    }
  
    ul:not(.checklist) li::before {
      content: "•";
      @apply mr-2;
    }

    ol, ul {
      li::before {
        @apply mr-2;
      }
      li {
        @apply ml-4 my-1;
      }
    }

    & > ol, & > ul {
      & > li {
        @apply ml-2;
      }
    }

    p + ul, p + ol {
      @apply mt-2;
    }
  
    /* blockquote */
    & > blockquote {
      @apply w-full bg-gray-100 py-2 px-3 italic rounded-md;
      & > span:last-child {
        @apply block text-right text-gray-500 text-sm;
        &::before {
          content: "— ";
        }
      }
    }
  
    /* code */
    .ui-code .shiki{
      @apply overflow-x-auto p-4 rounded-md;
    }

    /* inline code */
    *:not(pre.shiki) > code {
      @apply bg-opacity-20 bg-color-main rounded-[3px] px-2 mx-1;
    }

    /* link */
    a {
      @apply text-color-main-dark;
    }
    a:not([id]) {
      @apply underline text-color-main-dark;
      &::after {
        content: "";
        @apply underline inline-block w-4 h-4 -ml-[2px] bg-center bg-color-main-dark bg-no-repeat bg-contain;
        mask: url(/assets/icon/external-link.svg);
      }
    }

    /* image */
    & > img {
      @apply mx-auto;
    }
  }
}