@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-main: 156deg 100% 39%;
    --color-main-dark: 156deg 100% 28%;
    --color-bg: 250 250 250;
    --color-font: 50 50 50;
  }

  body {
    background-color: rgb(var(--color-bg));
    color: rgb(var(--color-font));
  }
}